.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
body {
  font-family: Moniqa,serif !important; }

.card1 {
  background-color: #e0dfdf; }
  .card1 .container .navbar .navbar-brand img {
    width: 120px;
    height: 50px; }
  .card1 .container .navbar .collapse {
    margin-left: 150px; }
    .card1 .container .navbar .collapse .navbar-nav .link2 .nav-link {
      font-size: 36px;
      color: #262626; }
    .card1 .container .navbar .collapse .navbar-nav .link2:hover {
      margin-top: -5px;
      border-bottom: 1px solid black; }
    .card1 .container .navbar .collapse .navbar-nav .link3 {
      margin-top: 5px;
      margin-left: 180px; }
      .card1 .container .navbar .collapse .navbar-nav .link3 .nav-link svg {
        width: 30px;
        height: 30px;
        margin-top: 7px; }
      .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu {
        margin-top: 10px !important;
        background-color: transparent;
        border: none; }
        .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu .dropdown-item {
          border-bottom: 1px solid #e9e9e9;
          color: white;
          font-size: 20px; }
          .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu .dropdown-item:hover {
            background-color: black;
            color: white; }
    .card1 .container .navbar .collapse .navbar-nav .link4 {
      margin-top: -7px;
      margin-left: 7px; }
      .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row {
        background-color: #2C3178;
        padding-top: 10px; }
        .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row .col-2 svg {
          width: 30px;
          height: 30px;
          margin-top: 4px;
          margin-left: 3px; }
        .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row .col-9 p {
          font-size: 30px;
          color: white; }

.card2 .container .row .col-6 {
  margin-top: 50px; }
  .card2 .container .row .col-6 h1 {
    font-size: 180px; }
  .card2 .container .row .col-6 h5 {
    font-size: 85px;
    margin-top: -50px; }
.card2 .container .row .col-4 {
  margin-left: 11%; }
  .card2 .container .row .col-4 img {
    width: 400px;
    height: 500px;
    top: 160px; }

.card3 {
  background-color: #0D0D0D; }
  .card3 .container .col-12 h5 {
    font-size: 50px;
    font-weight: bold;
    color: #E6E6E6; }
  .card3 .container .row .col-4 {
    margin-top: 10px; }
    .card3 .container .row .col-4 img {
      width: 120px;
      height: 120px; }
    .card3 .container .row .col-4 h5 {
      font-size: 45px;
      color: #E6E6E6 !important; }
    .card3 .container .row .col-4 h6 {
      font-size: 22px;
      color: #E6E6E6 !important;
      margin-top: 15px;
      color: rgba(255, 255, 255, 0.5) !important; }

.card4 .container .col-10 h5 {
  font-size: 45px;
  font-weight: bold; }
.card4 .container div main {
  width: 1300px;
  height: 700px;
  /*border: 1px solid red;*/
  margin-left: -50px;
  display: flex;
  flex-direction: row;
  border: 10px solid transparent;
  padding: 15px; }
.card4 .container div .xob {
  width: 400px;
  height: 330px;
  border: 1px solid #E6E6E6;
  margin-top: 10px;
  margin-left: 20px; }
.card4 .container div .xob:hover {
  background-color: #2C3178;
  color: white; }
.card4 .container div .xob:hover path {
  fill: #FFFFFF; }
.card4 .container div .xob1:hover path {
  fill: #FFFFFF; }
.card4 .container div .xob2:hover path {
  fill: #FFFFFF; }
.card4 .container div .sec:hover path {
  fill: #FFFFFF; }
.card4 .container div .xob3:hover path {
  fill: #FFFFFF; }
.card4 .container div .xob h1 {
  margin-top: 65px; }
.card4 .container div .xob1 {
  width: 400px;
  height: 330px;
  border: 1px solid #E6E6E6;
  margin-top: 15px;
  margin-left: 20px; }
.card4 .container div .xob1:hover {
  background-color: #2C3178;
  color: white; }
.card4 .container div .xob1 h1 {
  margin-top: 65px; }
.card4 .container div .sec {
  width: 400px;
  height: 675px;
  border: 1px solid #E6E6E6;
  margin-top: 10px;
  margin-left: 20px; }
.card4 .container div .sec:hover {
  background-color: #2C3178;
  color: white; }
.card4 .container div .sec h1 {
  margin-top: 250px; }
.card4 .container div .xob2 {
  width: 400px;
  height: 330px;
  border: 1px solid #E6E6E6;
  margin-top: 10px;
  margin-left: 20px; }
.card4 .container div .xob2:hover {
  background-color: #2C3178;
  color: white; }
.card4 .container div .xob2 h1 {
  margin-top: 65px; }
.card4 .container div .xob3 {
  width: 400px;
  height: 330px;
  border: 1px solid #E6E6E6;
  margin-top: 15px;
  margin-left: 20px; }
.card4 .container div .xob3:hover {
  background-color: #2C3178;
  color: white; }
.card4 .container div .xob3 h1 {
  margin-top: 65px; }
.card4 .container div .a {
  margin-left: 350px;
  margin-top: -50px; }
.card4 .container div .b {
  margin-left: 350px;
  margin-top: -50px; }
.card4 .container div .c {
  margin-left: 350px;
  margin-top: -50px; }
.card4 .container div .d {
  margin-left: 350px;
  margin-top: -50px; }
.card4 .container div .e {
  margin-left: 350px;
  margin-top: -50px; }
.card4 .container div h1 {
  margin-left: 15px;
  font-size: 50px !important; }
.card4 .container div p {
  margin-left: 15px;
  font-size: 25px !important; }

.card5 .rowA .col {
  width: 140px;
  height: 140px;
  background-color: white !important; }
  .card5 .rowA .col img {
    width: 125px;
    height: 125px;
    background-color: white !important; }

.card6 .container .col-6 h5 {
  font-size: 50px;
  font-weight: unset; }
.card6 .container div .row {
  font-family: Gupter,serif !important; }
  .card6 .container div .row .col33 .card:hover {
    background-color: #2C3178;
    color: white; }
  .card6 .container div .row .col33 .card:hover path {
    fill: white;
    color: white; }
  .card6 .container div .row .col33 .card .card-header {
    border-bottom: none !important; }
    .card6 .container div .row .col33 .card .card-header h5 {
      font-size: 35px; }
    .card6 .container div .row .col33 .card .card-header h6 {
      font-size: 15px; }
  .card6 .container div .row .col33 .card .card-body {
    margin-top: -40px !important; }
    .card6 .container div .row .col33 .card .card-body .flex-column .row {
      margin-top: 3px; }
      .card6 .container div .row .col33 .card .card-body .flex-column .row .col-2 svg {
        width: 25px;
        height: 25px; }
      .card6 .container div .row .col33 .card .card-body .flex-column .row .col-9 h6 {
        font-size: 17px;
        margin-top: 3px; }
    .card6 .container div .row .col33 .card .card-body .flex-column .btn1 {
      background-color: #2C3178; }
      .card6 .container div .row .col33 .card .card-body .flex-column .btn1:hover {
        background-color: white !important;
        color: #2C3178; }
      .card6 .container div .row .col33 .card .card-body .flex-column .btn1:hover path {
        fill: #2C3178 !important; }
      .card6 .container div .row .col33 .card .card-body .flex-column .btn1 .row .col-10 h6 {
        font-size: 12px;
        color: white; }
      .card6 .container div .row .col33 .card .card-body .flex-column .btn1 .row .col-2 {
        margin-left: -10px; }
        .card6 .container div .row .col33 .card .card-body .flex-column .btn1 .row .col-2 svg path {
          width: 15px;
          height: 15px;
          fill: white; }
  .card6 .container div .row .col3 .card {
    background-color: #FCE09B; }
    .card6 .container div .row .col3 .card .card-header {
      border-bottom: none !important; }
      .card6 .container div .row .col3 .card .card-header h5 {
        font-size: 35px; }
      .card6 .container div .row .col3 .card .card-header h6 {
        font-size: 15px; }
    .card6 .container div .row .col3 .card .card-body {
      margin-top: -50px !important; }
      .card6 .container div .row .col3 .card .card-body .flex-column .row {
        margin-top: 3px; }
        .card6 .container div .row .col3 .card .card-body .flex-column .row .col-2 svg {
          width: 25px;
          height: 25px; }
        .card6 .container div .row .col3 .card .card-body .flex-column .row .col-9 h6 {
          font-size: 17px;
          margin-top: 3px; }
      .card6 .container div .row .col3 .card .card-body .flex-column .btn1 {
        background-color: #2C3178; }
        .card6 .container div .row .col3 .card .card-body .flex-column .btn1 .row .col-10 h6 {
          font-size: 12px;
          color: white; }
        .card6 .container div .row .col3 .card .card-body .flex-column .btn1 .row .col-2 {
          margin-left: -10px; }
          .card6 .container div .row .col3 .card .card-body .flex-column .btn1 .row .col-2 svg {
            width: 15px;
            height: 15px; }

.card7 {
  background-color: #000000; }
  .card7 .container .row .col-6 {
    margin-top: 70px; }
    .card7 .container .row .col-6 h4 {
      font-size: 50px;
      color: white; }
    .card7 .container .row .col-6 h6 {
      font-size: 35px;
      color: white; }
    .card7 .container .row .col-6 .btn2 {
      background-color: #2C3178; }
      .card7 .container .row .col-6 .btn2 .row {
        margin-top: 5px; }
        .card7 .container .row .col-6 .btn2 .row .col-9 {
          color: white;
          font-size: 18px; }
        .card7 .container .row .col-6 .btn2 .row .col-2 svg {
          width: 30px;
          height: 30px;
          margin-top: 7px; }
  .card7 .container .row .col-4 img {
    width: 400px;
    height: 300px; }

.card8 {
  background-color: #121212; }
  .card8 .container .row .col-3 {
    margin-top: 70px; }
    .card8 .container .row .col-3 .img img {
      width: 100px;
      height: 50px; }
    .card8 .container .row .col-3 .text {
      margin-top: 15px; }
      .card8 .container .row .col-3 .text h6 {
        font-size: 25px;
        color: white; }
    .card8 .container .row .col-3 .text2 .row .col-9 {
      margin-top: 3px;
      font-size: 20px;
      color: white; }
  .card8 .container .row .col-5 {
    margin-top: 70px; }
    .card8 .container .row .col-5 .row h6 {
      font-size: 30px;
      color: white;
      margin-left: 50px; }
    .card8 .container .row .col-5 .row svg {
      width: 45px !important;
      height: 45px !important;
      margin-top: 45px;
      margin-left: 55px; }
  .card8 .container .row .col-4 {
    margin-top: 70px; }
    .card8 .container .row .col-4 .flex-column .col-6 .row {
      background-color: #2C3178;
      padding-top: 10px; }
      .card8 .container .row .col-4 .flex-column .col-6 .row .col-2 svg {
        width: 25px;
        height: 25px;
        margin-top: 4px;
        margin-left: 3px; }
      .card8 .container .row .col-4 .flex-column .col-6 .row .col-9 p {
        font-size: 20px;
        color: white; }
    .card8 .container .row .col-4 .flex-column .row {
      margin-top: 25px; }
      .card8 .container .row .col-4 .flex-column .row .col-2 svg {
        width: 45px;
        height: 45px;
        margin-top: 5px; }
      .card8 .container .row .col-4 .flex-column .row .col-9 h6 {
        font-size: 30px;
        color: white; }
    .card8 .container .row .col-4 .flex-column .col-2 svg {
      width: 45px;
      height: 45px; }

@media screen and (max-width: 550px) {
  .card1 {
    background-color: #e0dfdf;
    width: 100%;
    height: auto; }
    .card1 .container {
      width: 100%;
      height: auto; }
      .card1 .container .navbar {
        width: 100%;
        height: auto; }
        .card1 .container .navbar .navbar-brand img {
          width: 100%;
          height: 50px; }
        .card1 .container .navbar .collapse {
          margin-left: 150px; }
          .card1 .container .navbar .collapse .navbar-nav .link2 .nav-link {
            font-size: 36px;
            color: #262626; }
          .card1 .container .navbar .collapse .navbar-nav .link2:hover {
            margin-top: -5px;
            border-bottom: 1px solid black; }
          .card1 .container .navbar .collapse .navbar-nav .link3 {
            margin-top: 5px;
            margin-left: 180px; }
            .card1 .container .navbar .collapse .navbar-nav .link3 .nav-link svg {
              width: 30px;
              height: 30px;
              margin-top: 7px; }
            .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu {
              margin-top: 10px !important;
              background-color: transparent;
              border: none; }
              .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu .dropdown-item {
                border-bottom: 1px solid #e9e9e9;
                color: white;
                font-size: 20px; }
                .card1 .container .navbar .collapse .navbar-nav .link3 .dropdown-menu .dropdown-item:hover {
                  background-color: black;
                  color: white; }
          .card1 .container .navbar .collapse .navbar-nav .link4 {
            margin-top: -7px;
            margin-left: 7px; }
            .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row {
              background-color: #2C3178;
              padding-top: 10px; }
              .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row .col-2 svg {
                width: 30px;
                height: 30px;
                margin-top: 4px;
                margin-left: 3px; }
              .card1 .container .navbar .collapse .navbar-nav .link4 .nav-link .row .col-9 p {
                font-size: 30px;
                color: white; } }

/*# sourceMappingURL=style.css.map */
